{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "IAMPassAndReadTaggedRoles",
      "Effect": "Allow",
      "Action": ["iam:GetRole", "iam:ListRoleTags", "iam:PassRole"],
      "Resource": "*",
      "Condition": {
        "StringEquals": {
      %{ for tag-key, tag-value in test-map ~}
          "aws:RequestTag/${tag-key}": "${tag-value}"%{ if length(test-map) > (index(keys(test-map), tag-key) + 1) },%{ endif }
%{ endfor ~}
        }
      }
    },
    {
      "Sid": "IAMPolicyReadTagged",
      "Effect": "Allow",
      "Action": ["iam:GetPolicy", "iam:GetPolicyVersion", "iam:ListPolicyTags"],
      "Resource": "*",
      "Condition": {
        "StringEquals": {
          %{ for tag-key, tag-value in test-map ~}
          "aws:RequestTag/${tag-key}": "${tag-value}"%{ if length(test-map) > (index(keys(test-map), tag-key) + 1) },%{ endif }
%{ endfor ~}
        }
      }
    }
  ]
}
