{
  "Version": "2012-10-17",
  "Statement": [
    {
      "Sid": "SSMParametersByTag",
      "Effect": "Allow",
      "Action": [
        "ssm:GetParameter",
        "ssm:GetParameters",
        "ssm:GetParametersByPath",
        "ssm:PutParameter"
      ],
      "Resource": "*",
      "Condition": {
        "StringEquals": {
          %{ for tag-key, tag-value in tag-map ~}
          "ssm:ResourceTag/${tag-key}": "${tag-value}"%{ if length(tag-map) > (index(keys(tag-map), tag-key) + 1) },%{ endif }
%{ endfor ~}
        }
      }
    },
    {
      "Sid": "SSMParameterPathByIdentifier",
      "Effect": "Allow",
      "Action": [
        "ssm:GetParameter",
        "ssm:GetParameters",
        "ssm:GetParametersByPath"
      ],
      "Resource": ["arn:aws:ssm:*:*:parameter/*${identifier}*"]
    }
  ]
}
